.form-wrapper {
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    width: 35%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;

    .form-header {
        padding: 1rem 2rem;
        border-bottom: 1px solid #000000;
        .text {
            color: #1a6634;
        }
    }

    .form-cate {
        padding: 1rem 2rem;
        .cate-title {
            color: #343a40;
            font-weight: 700;
            font-size: 1.6rem;
        }

        .radio-wrapper {
            display: flex;
            gap: 1rem;
        }

        .form-inputs {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-top: 1rem;

            .description-input {
                .title {
                    color: #343a40;
                    font-weight: 700;
                    font-size: 1.6rem;
                }

                input {
                    border: 1px solid #dbdee7;
                    width: 100%;
                    padding: 1rem;
                }
            }

            .old_link-input {
                .title {
                    color: #343a40;
                    font-weight: 700;
                    font-size: 1.6rem;
                }

                input {
                    border: 1px solid #dbdee7;
                    width: 100%;
                    padding: 3rem 1rem;
                }
            }

            .new_link-input {
                .title {
                    color: #343a40;
                    font-weight: 700;
                    font-size: 1.6rem;
                }

                input {
                    border: 1px solid #dbdee7;
                    width: 100%;
                    padding: 3rem 1rem;
                }
            }

            .form-submit {
                display: flex;
                gap: 1rem;

                .close-btn {
                    background-color: #ffffff;
                    color: #1a6634;
                }

                .update-btn {
                    background-color: #1a6634;
                    color: white;
                }

                .close-btn,
                .update-btn {
                    padding: 1rem 1.5rem;
                    width: 10rem;
                    border-radius: 0.2rem;
                    font-weight: 600;
                    font-size: 1.3rem;
                    box-shadow: 5px 10px 18px #f0e9e9;
                    cursor: pointer;
                }
            }
        }
    }
}
