.header-wrapper {
    display: flex;
    // position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    // gap: 2rem;
    justify-content: space-between;
    padding-right: 2rem;
    .header-menu {
        .title-list {
            display: flex;
            width: 100%;
            padding-right: 3rem;
            .title {
                padding: 1.5rem;
                position: relative;
                color: #c4c4c4;
                font-size: 1.6rem;

                &::before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 65%;
                    background-color: #c4c4c4;
                    right: 0;
                    top: 1rem;
                }

                &.active {
                    color: #008000;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 80%;
                        height: 2px;
                        background-color: #008000;
                        bottom: 0;
                        left: 10%;
                    }
                }
            }
        }
    }

    .user-feature {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-basis: 5%;
        gap: 2rem;

        .icon,
        .icon {
            color: #5a6276;
        }

        .icon-bell {
            position: relative;
        }

        .icon-bell::after {
            content: '15';
            position: absolute;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 1rem;
            background-color: #f1802e;
            top: -3px;
            left: 6px;
            font-size: 9px;
            text-align: center;
            color: #fff;
        }

        .user-avt {
            position: relative;
            img {
                width: 3rem;
                border-radius: 3.5rem;
            }

            &::before {
                content: '';
                position: absolute;
                width: 1rem;
                height: 1rem;
                border-radius: 1rem;
                background-color: #05d103;
                bottom: 6px;
                right: -2px;
            }
        }
    }
}
